{include file="index/header" /}

<style>
    .btn{background-color:orange;}
    .btn:hover {background-color:gold;}
</style>

{include file="index/nav"  /}

                <div style="width:1000px;height:150px;margin:0 auto;"></div>
                <div style="background-color:white;width:550px;height:350px;margin:0 auto;opacity:0.85;border-radius:10px 10px 10px 10px">
                    <div style="width:100%;height:100px"></div>
                    <div style="width:80px;height:40px;float:left"></div>
                    <div style="width:150px;height:40px;float:left;text-align:center;line-height:40px;font-family:'Microsoft YaHei';font-weight:900">科目名称列表：</div>
                    <select style="width:200px;height:40px;float:left;font-family:'Microsoft YaHei';font-weight:600;outline:none">
                        <option value="0">请选择</option>
                        <option value="科目1">科目1</option>
                        <option value="科目2">科目2</option>
                        <option value="科目3">科目3</option>
                        <option value="科目4">科目4</option>
                    </select>
                    <div style="width:100%;height:30px;float:left"></div>
                    <div style="width:80px;height:40px;float:left"></div>
                    <div style="width:150px;height:40px;float:left;text-align:center;line-height:40px;font-family:'Microsoft YaHei';font-weight:900">鱼类名称列表：</div>
                    <select style="width:200px;height:40px;float:left;font-family:'Microsoft YaHei';font-weight:600;outline:none">
                        <option value="0">请选择</option>
                        <option value="鱼1">鱼1</option>
                        <option value="鱼2">鱼2</option>
                        <option value="鱼3">鱼3</option>
                        <option value="鱼4">鱼4</option>
                    </select>
                    <div style="width:100%;height:50px;float:left"></div>
                    <div style="width:350px;height:50px;float:left"></div>
                    <button class="btn" type="button" style="float:left;width:80px;height:50px;font-family:SimHei;font-size:20px;font-weight:800;border:none;border-radius:5px 5px 5px 5px;outline:none;">查询</button>
                </div>

{include file="index/footer" /}