{include file="index/header" /}

<style>
    .header a:hover {
        color: white;
        text-decoration: underline;
        background-color:gray;
    }
    .header a {
        display:block;
        width:150px;
        height:50px;
    }
</style>


{include file="index/nav" /}

                <div style="height:100px;width:500px;position:relative;left:50%;top:35%;margin-left:-250px;color:lightyellow;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:120px;text-align:center">Welcome!</div>

{include file="index/footer" /}