<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>常见鱼查询与识别系统</title>
    <style>
        .header a:hover {
            color: white;
            text-decoration: underline;
            background-color: gray;
        }

        .header a {
            display: block;
            width: 150px;
            height: 50px;
        }
    </style>
</head>
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <header>
        <div class="header" style="height:50px;width:100%;">
            <div style="background-color:#555555;height:50px;width:1280px;margin:0 auto;">
                <div style="width:50px;height:50px;float:left;"></div>
                <div style="height:50px;width:500px;float:left;">
                    <img src="__STATIC__/img/title.png" width="500px" height="50px"/>
                </div>
                <div style="width:150px;background-color:#555555;height:50px;float:right;text-align:center;line-height:50px;font-family:YouYuan;font-weight:900;font-size:20px;"><a href="login.html" style="color:white;text-decoration:none">管理员登录</a></div>
                <div style="width:150px;background-color:gray;height:50px;float:right;text-align:center;line-height:50px;font-family:YouYuan;font-weight:900;font-size:20px;"><a href="introduce.html" style="color:white;text-decoration:none">系统介绍</a></div>
                <div style="width:150px;background-color:#555555;height:50px;float:right;text-align:center;line-height:50px;font-family:YouYuan;font-weight:900;font-size:20px;"><a href="picture.html" style="color:white;text-decoration:none">图片识别查询</a></div>
                <div style="width:150px;background-color:#555555;height:50px;float:right;text-align:center;line-height:50px;font-family:YouYuan;font-weight:900;font-size:20px;"><a href="classification.html" style="color:white;text-decoration:none">科目分类查询</a></div>
            </div>
        </div>
    </header>
    <main>
        <div style="height:650px;width:100%;">
            <div style="height:100%;width:1280px;margin:0 auto;background-image:url(__STATIC__/img/pic.png)">
                <div style="width:1000px;height:25px;margin:0 auto;"></div>
                <div style="background-color:white;width:1000px;height:600px;margin:0 auto;opacity:0.85;border-radius:10px 10px 10px 10px">
                    <div style="width:100%;height:50px;float:left"></div>
                    <div style="text-align:center;width:100%;font-size:40px;font-family:'Microsoft YaHei';font-weight:400;color:#555555;float:left">系统介绍</div>
                    <div style="width:100%;height:20px;float:left"></div>
                    <div style="width:100px;height:100px;float:left"></div>
                    <div style="width:800px;height:450px;float:left;font-size:30px;color:#555555;font-weight:600">
                        &nbsp&nbsp随着我国水产业和捕捞业的迅猛发展和全面信息化时代的到来，为了满足渔业工作者的需求，这个系统被建立起来，以帮助他们在海产品捕获的第一时间获取其信息并且做好分类工作。这个系统具有科目查询功能和图片识别功能，对常见鱼信息进行了系统化的收录，使得鱼类信息数字化,从而更好地服务于渔业信息化建设。随着它的广泛应用,必将给捕捞业提供更丰富的信息资源,传递更广泛的数据资料。此系统综合分析了常见鱼的分类、分布、特征，对常见鱼的名称、分类、分布、特征、图片等重要信息进行收录，并且具有通过科目分类和图片浏览进行查询的功能。
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div style="height:90px;width:100%;">
            <div style="background-color:#555555;height:100%;width:1280px;margin:0 auto;">
                <div style="color:silver;font-family:FangSong;font-weight:600;width:100%;height:30px;font-size:10px;text-align:center;line-height:50px">作者：吕世维</div>
                <div style="color:silver;font-family:'Times New Roman';font-weight:600;width:100%;height:30px;text-align:center;font-size:10px;line-height:50px">357212745@qq.com</div>
            </div>
        </div>
    </footer>
</body>
</html>